@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans m-0 p-0;
    background-color: #101418;
  }

  h1 {
    @apply text-center;
  }
}

canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}