.menuBar {
    height: 6vh;
    padding: 0 0 0 1rem;
    border-bottom: #41454a 1px solid;
    display: flex;
    justify-content: flex-end;
  }
  
  .menuButton {
    padding: 1rem;
  }

  .menuButton:hover {
    background-color: #26292D;
    cursor: pointer;
  }
  
  .menuIcon {
    width: auto;
    height: 100%;
  }